.container {
  min-height: 370px;
  color: white;
}

h1 {
  font-weight: 300;
  text-align: center;
}

.big-input {
  width: 60%;
  transition: all 0.5s;
  display: flex;
}

.paddings {
  padding: 20px 10px 20px 20px;
}

.error {
  border: 1.3px solid #e91e2c;
}

.error-text {
  color: white;
}

.over-top {
  width: 60%;
  transition: all 0.5s ease-in;
  margin-top: -40px;
}

input {
  flex-grow: 1;
  border: 0;
  font-size: 20px;
  min-width: 100px;
  outline-width: 0;
}

button {
  padding: 0;
  min-width: 36px;
  margin-left: 10px;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 1em;
}

h5 {
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
