<div fxLayout="column" fxLayoutAlign="start center">
  <div style="height: 20px;"></div>
  <mat-card
    class="over-top paddings mat-elevation-z8"
    *ngFor="let website of websites"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <h4 class="primary-color">{{ website.url }}</h4>
        <h5 *ngIf="!!website.title">{{ website.title }}</h5>
      </div>
      <button
        class="primary-color"
        mat-icon-button
        (click)="onWebsiteClick(website)"
      >
        <mat-icon>library_books</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
